{% extends 'base.html.twig' %} 


{% block title %} Roboty drogowe na Twojej ulicy {% endblock %}

{% block body %}

{#<ul>
{% for item in items %} 
    
    <li>{{ item }}</li>
    
{% endfor %}
</ul> #}
    
data: {{ results | json_encode | raw }}
<div id="your-div" data-results="{{ results|json_encode|e('html_attr') }}">

{% endblock %}