{% extends 'base.html.twig' %} 


{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    
<h1>Strona do prezentowania wyników wyszukiwania</h1>

{#comment#}
<div>
	<br/>
	<br/>
        <table>{{ result }}</table>
    <iframe id="inlineFrameExample"
        title="Frame"
        width="300"
        height="200"
        src={{ koniec }}>
    </iframe>

</div>

{#
<ul>
{% for answer in answers %} 
    
    <li>{{ answer }}</li>
    
{% endfor %}
</ul>
#}
{# the JS file lives at "public/bundles/acme/js/loader.js" #}

{% endblock %}