{% extends 'base.html.twig' %} 


{% block title %} Utrudnienia na Twojej ulicy {% endblock %}

{% block body %}
    
<h1>Czy w Twojej okolicy są/będą prowadzone roboty drogowe? Sprawdź to!</h1>

{#comment#}
<div>
	<br/>
	<br/>
	<form action="http://localhost:8080/wyszukiwarka/public/szukaj" method="post">  {#co zrobić, żeby wygladało lepiej?#}
	Jaką ulicę chcesz wyszukać? <br/> <input type="text" name="ulica"/> <br/>
	<button type="submit" class="button todo-form-button">Szukaj</button>
	</form>
	</main>
</div>

{#
<ul>
{% for answer in answers %} 
    
    <li>{{ answer }}</li>
    
{% endfor %}
</ul>
#}
{# the JS file lives at "public/bundles/acme/js/loader.js" #}

{% endblock %}